<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group18g11.parksmart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wits_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wits_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.a18g11.parksmart.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.a18g11.parksmart.ParkingLotsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_parking_lots_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.a18g11.parksmart.ParkingLot1"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.a18g11.parksmart.ParkingLot2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.a18g11.parksmart.LoadingScreenActivity_FlowerHall"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.a18g11.parksmart.LoadingScreenActivity_DemoBay"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>